<div id="authContainer">
  <div id="login-box">
    <form class="grid-container">
      <h2 class="center-align">Login</h2>
      <div class="textbox">
        <fa name="user" class="prepend"></fa>
        <input type="text" placeholder="Email">
      </div>
      <div class="textbox">
        <fa name="lock" class="prepend"></fa>
        <input type="password" placeholder="Password">
      </div>
      <div class="actions">
        <input type="submit" value="login" class="full-width uppercase">
        <div>
          <p class="center-align tiny-text mt-5">Not registered yet? <a href="#">Signup</a></p>
        </div>
      </div>
    </form>
  </div>
</div>