<div id="authContainer">
  <div id="signup-box">
    <form class="grid-container">
      <h2 class="center-align">Signup</h2>
      <div id="username">
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
      </div>
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <input type="password" placeholder="Confirm Password">
      <div class="actions">
        <input type="submit" value="signup" class="full-width uppercase">
        <div>
          <p class="center-align tiny-text mt-5">Already a user? <a href="#">Login</a></p>
        </div>
      </div>
    </form>
  </div>
</div>